/* #003E8A */
:root {
    --color-blue: #1A81FF;
    --color-yellow: #FF991A;
    --color-yellow-dark: #FF8E04;
    --color-white: #f5f4f2;
    --color-black: #222;
    --color-white-yellow: #e8ddc2;
    --color-grey: #9e9a9a;
}

body {
    font-family: 'Times New Roman',
        Times,
        serif;
    color: var(--color-black);
    margin: 0;
    padding: 0;
    background-color: var(--color-white-yellow);
}

*::selection {
    background-color: var(--color-yellow);
    color: var(--color-black)
}

#header {
    position: fixed;
    top: 0;
    min-height: 60px;
    padding: 0 20px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    min-width: 60vw;
}

#header-img {
    width: 20vw;
}

#nav-list {
    min-width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--color-black);
    text-transform: capitalize;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: var(--color-black);
    opacity: 0.7;
}

#home {
    margin-top: 3.6rem;
    padding: 70px 50px 110px 50px;
    background-color: var(--color-blue);
    color: var(--color-white);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.home-intro {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tagline {
    font-size: 2rem;
    text-align: justify;
    font-style: italic;
    font-weight: 400;
}

.home-image {
    min-width: 50%;
}

.responsive-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.inline-group {
    display: flex;
    width: 100%;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    height: 2rem;
    padding: 0.35rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-yellow);
    transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 75%;
}

.inline-button {
    margin-left: -4px;
    height: 2.83rem;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--color-yellow);
    border-radius: 1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    background-color: var(--color-yellow);
    cursor: pointer;
    color: var(--color-black);
}

.inline-button:hover {
    background-color: var(--color-yellow-dark);
}


#features {
    padding: 50px;
    box-shadow: 0px 45px var(--color-blue);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.title {
    text-align: center;
    font-style: italic;
    font-size: 1.7rem;
}

.feature-list {
    list-style: square;
    line-height: 3rem;
    font-size: 1.2rem;
    margin: auto;
    width: 50%;
}

#pricing {
    background-color: var(--color-blue);
    padding: 50px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.text-white {
    color: var(--color-white) !important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20p var(--color-grey);
    margin: auto;
    width: calc(90% / 3);
}

.card-title {
    font-size: 1.2rem;
    background-color: var(--color-yellow);
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.small-tag {
    margin-top: -20px;
    font-size: 1.02rem;
    text-align: center;
}

.card-body {
    text-align: center;
    width: 75%;
    margin: auto;
}

.price {
    font-size: 1.5rem;
}

.plan-feature-list {
    list-style: disclosure-closed;
    text-align: left;
    /* width: 50%; */
    margin: 0 auto 50px auto;
    line-height: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card-button {
    margin: 0 0 40px 0;
    padding: 10px;
    font-size: 1.14rem;
    cursor: pointer;
    background-color: var(--color-yellow);
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--color-grey);
    color: var(--color-black);
}

.card-button:hover {
    background-color: var(--color-yellow-dark);
    box-shadow: 1px 1px 5px var(--color-black);
}

#media {
    padding: 50px;
    box-shadow: 0px 45px var(--color-blue);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.media-container {
    display: flex;
    align-items: center;
}

.video-viewer {
    margin: 30px 0;
    min-width: 50%;
}

#video {
    box-shadow: 5px 5px 10px 10px var(--color-grey);
    border-radius: 2%;
    max-width: 100%;
}

.video-text {
    min-width: 50%;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
    margin-left: 10px;
}

.video-description {
    padding-left: 30px;
}

#testimonials {
    padding: 50px;
    background-color: var(--color-blue);
    /* border-bottom-left-radius: 10%; */
    /* border-bottom-right-radius: 10%; */
}

.card-image-container {
    margin: 10px 0;
    text-align: center;
    border-radius: 50%;
}

.customer-image {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--color-grey);
    box-shadow: 1px 1px 20px 5px var(--color-grey);
}

.customer-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.customer-title {
    /* position: relative; */
    margin-top: -10px;
    font-size: 0.85rem;
}

.customer-review {
    text-align: justify;
}

#footer {
    padding: 0 0 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 1.09rem;
}

.link {
    text-decoration: none;
    padding: 0 10px 0 0;
    color: var(--color-blue);
    font-weight: 600;
}

.link:hover {
    color: #003E8A;
}

.copyright {
    text-align: center;
    line-height: 1rem;
}

.social-icon {
    position: relative;
    top: 5px;
}

@media (max-width: 1100px) {
    #header {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        min-width: 100vw;
        text-align: center;
        margin-top: 10px;
        flex-grow: 2;
    }

    #header-img {
        width: 30vw;
    }

    #nav-bar {
        min-width: 50vw;
    }

    #home {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .home-image {
        margin-top: 20px;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 48%;
        margin-top: 30px;
    }

    .feature-list {
        width: 65%;
    }

}

@media (max-width: 800px) {
    #home {
        border-bottom-left-radius: 8%;
        border-bottom-right-radius: 8%;
    }

    #footer {
        flex-direction: column;
        padding-top: 35px;
        line-height: 20px;
    }
}


@media (max-width: 700px) {

    #header-img {
        width: 50vw;
    }

    #nav-bar {
        min-width: 100vw;
    }

    #home {
        border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
    }

    .media-container {
        flex-wrap: wrap;
    }

    .video-description {
        padding-left: 0px;
    }

    .feature-list {
        width: 75%;
    }
}

@media (max-width: 550px) {

    #header {
        padding: 0px;
    }

    #header-img {
        width: 50vw;
    }

    #nav-bar {
        min-width: 100vw;
    }

    #home {
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
        /* margin-top: 30px; */
    }

    .feature-list {
        width: 100%;
    }
}